@model IEnumerable<Beneficiario>

    @{
        ViewData["Title"] = "Beneficiario";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Beneficiario</h2>

    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Identificaci&oacute;n
                </th>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    N&uacute;mero Tel&eacute;fono
                </th>
                <th>
                    Email
                </th>
                <th>
                    Cupo (COP)
                </th>
                <th>
                    Fecha Compra Inicio
                </th>
                <th>
                    Fecha Compra Fin
                </th>
                <th>
                    Activo
                </th>
                <th>
                    Afiliado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroTelefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cupo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaCompraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaCompraFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.afiliado.nombres)
                    </td>
                </tr>
            }
        </tbody>
    </table>
