@model IEnumerable<Polygamy.Models.Beneficiario>

@{
    ViewData["Title"] = "Beneficiario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficiario</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Identificaci&oacute;n
                </th>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    N&uacute;mero Tel&eacute;fono
                </th>
                <th>
                    Email
                </th>
                <th>
                    Direcci&oacute;n de Residencia
                </th>
                <th>
                    Ciudad de Residencia
                </th>
                <th>
                    Cupo
                </th>
                <th>
                    Fecha Compra Inicio
                </th>
                <th>
                    Fecha Compra Fin
                </th>
                <th>
                    Activo
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionResidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadResidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
        </tr>
}
    </tbody>
</table>
